#title {
    margin-left: 3%;
}

#radio {
    margin-right: 40%;
}

#select {
    margin-right: 15%;
}

label {
    margin-right: 6%;
}

input {
    margin-left: 6%;
}

form {
    text-align: center;
    width: 270px;
    margin: 10px;
    border-width: medium;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}